/* GENERAL */
*{
  font-family: 'Open Sans', sans-serif;
}

img{
  max-width: 150px;
  display: block;
  margin: 1.2rem auto;
}

h1{
  font-size: 1.7rem;
  padding: 1.5rem 0;
  text-align: center;
}

h3{
  font-size:1.2rem;
  margin: 0 0 0.5rem;
}

/* LEZIONI SECTION */

/* STEPS SECTION*/
.steps{
  margin-top: 1.5rem;
  padding-bottom: 1.5rem;
  background-image: linear-gradient(rgb(241, 241, 241), #e0d6d6);
}

/* WHY SECTION */
.why{
  padding-bottom: 1.5rem;
  color: #f9f9f9;
  background-image: linear-gradient(to bottom right, gray, #cecece);
}

.why img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
} 

.why hr{
  margin-top: 1.3rem;
}

/* TABLET RESPONSIVE */
@media screen and (min-width: 768px){
  /* GENERAL */
  h3{
    text-align: center;
  }

  /* LEZIONI SECTION */
  .lezioni img{
    max-width: none;
    max-height: 150px;
  }
  /* STEPS SECTION */
  /* WHY SECTION */
  .why div{
    text-align: center;
  }
}